___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [13]:
def animal_crackers(text):
    words = text.split()
    if words[0][0] == words[1][0]:
        return True

In [14]:
# Check
animal_crackers('Levelheaded Llama')

True

In [15]:
# Check
animal_crackers('Crazy Kangaroo')

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [16]:
def makes_twenty(n1,n2):
    numSum = n1 + n2
    if numSum == 20:
        return True
    if n1 == 20 or n2 == 20:
        return True
    return False

In [17]:
# Check
makes_twenty(20,10)

True

In [18]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [49]:
def old_macdonald(name):
    letters = []
    for letter in name:
        letters.append(letter)
    letters[0] = letters[0].capitalize()
    letters[3] = letters[3].capitalize()
    return ''.join(letters)

In [50]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [68]:
def master_yoda(text):
    revText = text.split()
    revText = revText[::-1]
    revText = ' '.join(revText)
    return revText

In [69]:
# Check
master_yoda('I am home')

'home am I'

In [70]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [83]:
def almost_there(n):
    if abs(100 - n) <= 10 or abs(200 - n) <= 10:
        return True

In [84]:
# Check
almost_there(104)

True

In [85]:
# Check
almost_there(150)

In [86]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [96]:
def has_33(nums):
    prevNum = 0
    for num in nums:
        if num == prevNum:
            return True
        else:
            prevNum = 0
        if num == 3:
            prevNum = 3

In [97]:
# Check
has_33([1, 3, 3])

True

In [98]:
# Check
has_33([1, 3, 1, 3])

In [101]:
# Check
has_33([3, 1, 3])

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [117]:
def paper_doll(text):
    letters = [*text]
    splText = []
    for letter in letters:
        splText.append(letter*3)
    splText = ''.join(splText)
    return splText

In [118]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [119]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [132]:
def blackjack(a,b,c):
    sum = a + b + c
    if sum <= 21:
        return sum
    if sum > 21 and 11 in (a, b, c):
        sum -= 10
    if sum > 21:
        return 'BUST'

In [133]:
# Check
blackjack(5,6,7)

18

In [134]:
# Check
blackjack(9,9,9)

'BUST'

In [135]:
# Check
blackjack(9,9,11)

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [147]:
def summer_69(arr):
    sum = 0
    
    if len(arr) == 0:
        return sum
    for num in arr:
        if num not in [6, 7, 8, 9]:
            sum += num
            if num == 9:
                continue
    return sum

In [148]:
# Check
summer_69([1, 3, 5])

9

In [149]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [150]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [182]:
def spy_game(nums):
    spy = True
    spyGame = []
    for num in nums:
        if num == 7:
            if spyGame == []:
                return False
            spyGame.append(num)
            if spyGame == [0, 0, 7]:
                return True
        if num == 0:
            spyGame.append(num)

In [183]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [184]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [185]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [200]:
def count_primes(num):
   pass

In [201]:
# Check
count_primes(100)

[0, 0, 0, 0, 0, 0, 0, 0, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 8, 8, 9, 9, 10, 10, 12, 12, 12, 12, 14, 14, 15, 15, 16, 16, 16, 18, 18, 18, 18, 20, 20, 20, 21, 21, 22, 24, 24, 24, 24, 24, 25, 26, 27, 27, 28, 28, 28, 30, 30, 30, 30, 32, 32, 32, 33, 34, 35, 35, 36, 36, 36, 36, 36, 38, 39, 40, 40, 40, 40, 42, 42, 42, 42, 44, 44, 45, 45, 45, 46, 48, 48, 48, 48, 48, 49, 50, 50, 51, 52, 52, 54, 54, 54, 54, 55, 56, 56, 56, 56, 57, 58, 60, 60, 60, 60, 60, 62, 63, 63, 63, 64, 64, 64, 65, 66, 66, 66, 68, 68, 69, 70, 70, 70, 72, 72, 72, 72, 72, 72, 74, 75, 75, 76, 76, 77, 78, 78, 78, 80, 80, 80, 80, 81, 81, 82, 84, 84, 84, 84, 84, 85, 86, 87, 88, 88, 88, 90, 90, 90, 90, 90, 91, 92, 92, 93, 94, 95, 96, 96, 96, 96, 96, 98, 98, 99, 99, 100, 100, 100]

0

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [159]:
def print_big(letter):
    a = ['  *  ', ' * * ', '*****', '*   *', '*   *']
    b = ['****', '*   *', '***', '*   *', '****']
    c = [' *** ', '*   *', '*', '*   *', ' *** ']
    
    dict = {
        'a' : a,
        'b' : b,
        'c' : c
    }
    
    def printBig(input):
        for letter in input:
            print(letter)
    
    print(printBig(dict[letter]))

In [162]:
print_big('a')

****
*   *
***
*   *
****
None

## Great Job!